@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: 'sayger', 'tp-bold';
    color: #171717;
    box-sizing: border-box;
  }

  h1 {
    @apply text-2xl font-bold;
  }
}

@layer components {
  .button {
    @apply rounded border-2 border-solid border-slate-900 pt-1 shadow-[3px_3px_#171717] active:translate-y-0.5 active:shadow-[1px_1px_#171717];
  }
  .navLi {
    @apply relative mt-8 block overflow-hidden pb-8 before:absolute before:whitespace-nowrap before:text-transparent before:underline before:underline-offset-8 before:content-[attr(data-text)attr(data-text)] hover:before:animate-wave hover:before:decoration-sky-400 hover:before:decoration-wavy;
  }
}

@layer utilities {
  .bg-boxes {
    background-image: linear-gradient(#beefce 1px, transparent 1px), linear-gradient(to right, #beefce 1px, #f6f6f9 1px);
    background-size: 20px 20px;
  }
  .bg-boxes-revert- {
    background-image: linear-gradient(#beefce 1px, transparent 1px), linear-gradient(to right, #beefce 1px, #f6f6f9 1px);
    background-size: 20px 20px;
    /* transform: translateY(45deg); */
  }
  .bg-boxes-diag {
    background-color: #f6f6f9;
    background-image: repeating-linear-gradient(45deg, #beefce, #beefce 1px, #f6f6f9 1px, #f6f6f9 12.5px);
  }
  .textBorder {
    color: #fff;
    -webkit-text-fill-color: #f5f5f5; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #171717;
  }
}

@font-face {
  font-family: 'heal';
  src: url('../public/fonts/HealTheWebA-Regular.otf');
}

@font-face {
  font-family: 'sayger';
  src: url('../public/fonts/Sayger.otf');
}

@font-face {
  font-family: 'tp-bold';
  src: url('../public/fonts/TaipeiSansTCBeta-Bold.ttf');
}

@font-face {
  font-family: 'tp-reg';
  src: url('../public/fonts/TaipeiSansTCBeta-Regular.ttf');
}

@font-face {
  font-family: 'tp-light';
  src: url('../public/fonts/TaipeiSansTCBeta-Light.ttf');
}
/*
 * react-calendar-heatmap styles
 *
 * All of the styles in this file are optional and configurable!
 * The github and gitlab color scales are provided for reference.
 */

.react-calendar-heatmap text {
  font-size: 10px;
  fill: #aaa;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
  font-size: 5px;
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

/*
 * Default color scale
 */

.react-calendar-heatmap .color-empty {
  fill: #eeeeee;
}

.react-calendar-heatmap .color-filled {
  fill: #8cc665;
}

/*
 * Github color scale
 */

.react-calendar-heatmap .color-github-0 {
  fill: #eeeeee;
}
.react-calendar-heatmap .color-github-1 {
  fill: #d6e685;
}
.react-calendar-heatmap .color-github-2 {
  fill: #8cc665;
}
.react-calendar-heatmap .color-github-3 {
  fill: #44a340;
}
.react-calendar-heatmap .color-github-4 {
  fill: #1e6823;
}

.react-calendar-heatmap .color-gitlab-0 {
  fill: #ededed;
}
.react-calendar-heatmap .color-gitlab-00 {
  fill: #fff;
}
.react-calendar-heatmap .color-gitlab-1 {
  fill: #acd5f2;
}
.react-calendar-heatmap .color-gitlab-2 {
  fill: #7fa8d1;
}
.react-calendar-heatmap .color-gitlab-3 {
  fill: #49729b;
}
.react-calendar-heatmap .color-gitlab-4 {
  fill: #254e77;
}
