@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: 'sayger', 'tp-bold';
    color: #171717;
    box-sizing: border-box;
  }

  h1 {
    @apply text-2xl font-bold;
  }
}

@layer components {
  .button {
    @apply rounded border-2 border-solid border-slate-900 pt-1 shadow-[3px_3px_#171717] active:translate-y-0.5 active:shadow-[1px_1px_#171717];
  }
}

@layer utilities {
  .bg-boxes {
    background-image: linear-gradient(#beefce 1px, transparent 1px), linear-gradient(to right, #beefce 1px, #f6f6f9 1px);
    background-size: 20px 20px;
  }
  .bg-boxes-revert- {
    background-image: linear-gradient(#beefce 1px, transparent 1px), linear-gradient(to right, #beefce 1px, #f6f6f9 1px);
    background-size: 20px 20px;
    /* transform: translateY(45deg); */
  }
  .bg-boxes-diag {
    background-color: #f6f6f9;
    background-image: repeating-linear-gradient(45deg, #beefce, #beefce 1px, #f6f6f9 1px, #f6f6f9 12.5px);
  }
}

@font-face {
  font-family: 'heal';
  src: url('../public/fonts/HealTheWebA-Regular.otf');
}

@font-face {
  font-family: 'sayger';
  src: url('../public/fonts/Sayger.otf');
}

@font-face {
  font-family: 'tp-bold';
  src: url('../public/fonts/TaipeiSansTCBeta-Bold.ttf');
}

@font-face {
  font-family: 'tp-reg';
  src: url('../public/fonts/TaipeiSansTCBeta-Regular.ttf');
}

@font-face {
  font-family: 'tp-light';
  src: url('../public/fonts/TaipeiSansTCBeta-Light.ttf');
}

.color-empty {
  background-color: #e0e0e0;
}

.color-github-1 {
  background-color: #ebedf0;
}

.color-github-2 {
  background-color: #c6e48b;
}

.color-github-3 {
  background-color: #7bc96f;
}

.color-github-4 {
  background-color: #239a3b;
}

.color-github-5 {
  background-color: #196127;
}
