@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: 'sayger', 'TaipeiSansTCBeta-Bold', 'sans-serif';
    font-weight: 900;
    color: #171717;
    box-sizing: border-box;
  }

  .pageTitle {
    @apply text-center text-7xl transition-all duration-1000 selection:bg-green-400 sm:text-5xl;
  }

  /* to hide number input spinner */
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }
}

@layer components {
  .button {
    @apply rounded border-2 border-solid border-slate-900 pt-1 shadow-[3px_3px_#171717] active:translate-y-0.5 active:shadow-[1px_1px_#171717];
  }
  .navLi {
    @apply relative mt-8 block overflow-hidden pb-8 before:absolute before:whitespace-nowrap before:text-transparent before:underline before:underline-offset-8 before:content-[attr(data-text)attr(data-text)] hover:before:animate-wave hover:before:decoration-sky-400 hover:before:decoration-wavy;
  }
}

@layer utilities {
  .bg-boxes {
    background-image: linear-gradient(#beefce 1px, transparent 1px), linear-gradient(to right, #beefce 1px, #f6f6f9 1px);
    background-size: 20px 20px;
  }
  .bg-boxes-revert- {
    background-image: linear-gradient(#beefce 1px, transparent 1px), linear-gradient(to right, #beefce 1px, #f6f6f9 1px);
    background-size: 20px 20px;
    /* transform: translateY(45deg); */
  }
  .bg-boxes-diag {
    background-color: #f6f6f9;
    background-image: repeating-linear-gradient(45deg, #beefce, #beefce 1px, #f6f6f9 1px, #f6f6f9 12.5px);
  }
  .textBorder {
    color: #fff;
    -webkit-text-fill-color: #f5f5f5; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #171717;
  }
}

@font-face {
  font-family: 'sayger';
  src: url('../public/fonts/Sayger.otf');
}

.react-calendar-heatmap text {
  font-size: 10px;
  fill: #aaa;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
  font-size: 5px;
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

/*
 * Default color scale
 */

.react-calendar-heatmap .color-empty {
  fill: #eeeeee;
}

/*
 * Github color scale
 */

.react-calendar-heatmap .color-gitlab-0 {
  fill: #ededed;
}
.react-calendar-heatmap .color-gitlab-1 {
  fill: #acd5f2;
}
.react-calendar-heatmap .color-gitlab-2 {
  fill: #7fa8d1;
}
.react-calendar-heatmap .color-gitlab-3 {
  fill: #49729b;
}
.react-calendar-heatmap .color-gitlab-4 {
  fill: #254e77;
}

.bg-red-1 {
  @apply bg-red-100;
}
.bg-red-2 {
  @apply bg-red-200;
}
.bg-red-3 {
  @apply bg-red-300;
}
.bg-red-4 {
  @apply bg-red-400;
}
.bg-red-5 {
  @apply bg-red-500;
}
.bg-red-6 {
  @apply bg-red-600;
}

.bg-lime-1 {
  @apply bg-lime-100;
}
.bg-lime-2 {
  @apply bg-lime-200;
}
.bg-lime-3 {
  @apply bg-lime-300;
}
.bg-lime-4 {
  @apply bg-lime-400;
}
.bg-lime-5 {
  @apply bg-lime-500;
}

.bg-yellow-1 {
  @apply bg-yellow-100;
}
.bg-yellow-2 {
  @apply bg-yellow-200;
}
.bg-yellow-3 {
  @apply bg-yellow-300;
}
.bg-yellow-4 {
  @apply bg-yellow-400;
}
.bg-yellow-5 {
  @apply bg-yellow-500;
}

.bg-indigo-1 {
  @apply bg-indigo-100;
}
.bg-indigo-2 {
  @apply bg-indigo-200;
}
.bg-indigo-3 {
  @apply bg-indigo-300;
}
.bg-indigo-4 {
  @apply bg-indigo-400;
}
.bg-indigo-5 {
  @apply bg-indigo-500;
}
